<div class="dialog">
    <div>
      <h1>Welcome to zerohour</h1>
      <p>Project under construction</p>
    </div>
    <p>If you would like to participate in the project, please <a href="https://github.com/jack-the-coder/zerohour">visit GitHub</a>.</p>
</div>
